@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

body {
    height: 100vh;
}

@font-face {
    font-family: 'lcd';
    src: url('../fonts/digital-7.ttf');
}

#holder {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    overflow-y: hidden;
    background-color: black;
    /*background-color: rgba(27, 27, 27, 0.7);*/
    color: #cccccc;
    text-align: center;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /*border-bottom: solid #000000 1px;*/
}

#bg {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

#nav {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

#nav ul {
    width: 100vw;
    /*min-width:1000px;*/
    height: auto;
    display: table;
    margin: auto;
    line-height: 3em;
}

#nav ul li {
    display: table-cell;
    font-family: cursive;
    white-space: nowrap;
    list-style: none;
    height: 100%;
    /*min-width: 100px;*/
    padding: 0 1% 0 1%;
    cursor: pointer;
    border-bottom: inset rgba(235, 61, 61, 0.0) 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#nav ul li:hover {
    background-color: brown;
    color: white;
    border-bottom: inset #eb3d3d 2px;
    box-shadow: 0 3px 3px -1px rgba(208, 48, 48, 0.5);
}

#nav ul li.active {
    background-color: #4c85ef;
    color: white;
    border-bottom: inset #89acff 2px;
    box-shadow: 0 3px 3px -1px rgba(38, 219, 211, 0.3);
}

#nav ul li.active:hover {
    background-color: #6e9ff9;
    color: white;
    box-shadow: 0 3px 3px -1px rgba(39, 198, 187, 0.5);
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main {
    /*margin:auto;*/
    width: 100vw;
}

#start {
    background-size: 100% auto;
}

#convo {
    /*background:fixed url("../img/clouds.jpg") center top;*/

}

#events {
    font-size: large;
    /*background-color: #eb3755;*/
}

p {
    padding: 10%;
    /*background-color: rgba(200,100,50,0.7);*/
}
.item{

    width: 100%;
    display: block;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
    /*padding:10px;*/
}
/*.item_main{*/

    /*width: 100%;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
    /*font-family: 'Josefin Sans',sans-serif;*/
    /*padding: 0;*/
/*}*/
hr{
    display: none;

}
#home {
    /*background: fixed url("../img/parallax/bg1.png") center center;*/
    /*background: fixed url("../img/Cover.png") center center;*/
    /*-webkit-filter: saturate(500%); !* Safari 6.0 - 9.0 *!*/
    /*filter: saturate(500%);*/
    background-size: cover;
    height: 100vh;
    margin-top: -50px;
    overflow: visible;
}

.bg {
    background: fixed url("../img/parallax/bg4.png") center center;
    /*filter:!*blur(25px)*! sepia(113%) brightness(130%);*/
    /*-webkit-filter:  !*blur(25px)*! sepia(113%) */
brightness(130 %);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#home .inner {
    z-index: 15;
    position: relative;
    padding-top: 30vh;
    margin: auto;
    max-width: 75vw;
}

#first.foreground {
    /*padding-top: 30vh;*/
    padding-bottom: 3%;
    -webkit-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.4s;
    -moz-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.4s;
    -o-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.4s;
    transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.4s;
}

#second.foreground {
    padding-top: 2%;
    -webkit-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.8s;
    -moz-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.8s;
    -o-transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.8s;
    transition: transform 0.5s ease-in 0.4s, opacity 0.5s ease-in 0.8s;
}

.foreground {
    position: relative;
    margin: auto;
    display: block;
    max-width: 75vw;
}

.line {
    height: 2px;
    background-color: black;
    display: block;
    width: 72%;
    margin: auto;
    -webkit-transition: all 0.5s ease-in .9s;
    -moz-transition: all 0.5s ease-in .9s;
    -o-transition: all 0.5s ease-in .9s;
    transition: all 0.5s ease-in .9s;
}

.line.hidden {
    height: 2px;
    background-color: black;
    display: block;
    width: 0;
    margin: auto;
}

#second.foreground {
    max-width: 60vw;
}

#first.foreground.hidden {
    /*padding-top: 15vh;*/
    /*padding-bottom: 15vh;*/
    transform: translate(0, -50%);
    opacity: 0;
}

#second.foreground.hidden {

    transform: translate(0, 50%);
    /*padding-top: 10vh;*/
    opacity: 0;
}

#about {
    /*background: fixed url("../img/parallax/bg1.png") center center;*/
    /*-webkit-filter: saturate(500%); !* Safari 6.0 - 9.0 *!*/
    /*filter: saturate(300%);*/
    /*background:  fixed url("../img/Cover.png") center center;*/
    /*background-size: cover;*/
    position: relative;
    height: 100%;
    overflow: hidden;

}

#about .parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 17;
    filter: brightness(90%) contrast(111%) saturate(61%);
    -webkit-filter: brightness(90%) contrast(111%) saturate(61%);
}

#about #content {
    /*z-index: 18;*/
    scroll-snap-type: mandatory;
    padding-top: 5vh;
    background-color: #000008;
    /*background-color: #020a1a;*/
    color: gainsboro;
}

#about .inner {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

    position: absolute;
}

#about .inner .rotator {
    width: 100%;
    height: auto;
}

#events {
    background-color: #000008;
    /*background-color: #020a1a;*/
    color: white;
}

#about img.inner {
    position: absolute;
    height: auto;
    width: 100vw;
    bottom: 0;
}

#about .img.inner {
    position: absolute;
    height: auto;
    width: 100vw;
    bottom: 0;
}

.text {
    font-size: 1.5em;
    text-align: center;
    padding: 0 10%;
    line-height: 2em;
    font-family: 'Josefin Sans';
    cursor: default;
    /*transform: translateY(50%);*/
    /*opacity: 0;*/
}

span {
    cursor: default;
}

b {
    cursor: pointer;
}

#about #logo {
    display: block;
    height: 25vh;
    margin: auto;
    padding: 5%;
}

#about .end {
    margin: auto;

    display: block;
    /*background-color: #000008;*/
    color: gainsboro;
    font-size: 1.5em;
    text-align: center;
    padding: 20px 10%;
    line-height: 2em;
    font-family: 'Josefin Sans';
}

#about .end span {
    padding: 5px 10px;
}

#about .end span:first-of-type {
    border-right: solid dodgerblue 2px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotator {
    animation: rotation linear 15s infinite;
    transform-origin: 18.75% 34.45%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#events {
    margin-top: -1px;
}

@media only screen and (max-width: 700px) {
    #nav ul li {
        min-width: 100px;
    }

    #nav ul {
        min-width: 1000px;
    }

    .text {
        font-size: 1.3em;
        text-align: center;
        padding: 3%;
        line-height: 1.2em;
        font-family: 'Josefin Sans';

        /*transform: translateY(50%);*/
        /*opacity: 0;*/
    }

    /*#home {*/
    /*background: fixed url("../img/Cover.png") center top;*/
    /*height: 100vh;*/
    /*margin-top: -50px;*/
    /*}*/
}

#algo{
    background-color: #9b69e9;
    padding: 0;
}
#algo>.shrink{
    transform: scale(0.9,0.85);
}

#algo a{
    color:dodgerblue;
    cursor: pointer;
}
#algo a:hover{
    color:cornflowerblue;
}

#laptop_screen::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #aaa;
    border: 2px solid #888;
    position: absolute;
    margin: 0 auto;
    top:5px;
    left: 50%;
}
#laptop_screen{
    font-family: monospace;
    margin: 0 auto;
    
    width: 960px;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    height: 580px;
    background-color: #4CAF50;
    overflow: hidden;
    border: 30px solid #233;
    border-bottom: 40px solid #233;
    border-radius: 15px 15px 0 0;
}
#termial_titlebar{
    height: 32px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    display: block;
    border-radius: 5px 5px 0 0;
}
.terminal_buttons{
    /*margin-left: 10px;*/
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    background-color: #222;
}
#console {
    font-family: monospace;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 80%;
    margin: 0 auto;
    
    width: 100%;
    padding: 5px;
    display: block;
    text-align: left;
    box-sizing: border-box;
    height: calc(100%  - 32px);
    background-color: #33475E;
    overflow: hidden;
    border-radius:0 0 5px 5px;
}
#laptop_bottom{
    content: '';
    height: 30px;
    width: 1040px;
    background-color: #ebe2e2;
    display: block;
    box-shadow: 0 3px 1px #333;
    clear: both;
    margin: 0 auto !important;
}

#consoleImg {
    width: 100%;
    height: 100%;
    margin-top: -8%;
}

.consoletext {
    color: white;
    display: inline-block;
    white-space: pre;
    font-family: monospace;
    font-weight: bold;
    line-height: 105%;
}

.consoleprint {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    color: white;
    white-space: pre-wrap;
    line-height: 105%;
}
#ltxt{
    transform: scale(0.9);
    /*outline: 2px solid #eb3d3d;*/
    transform-origin: 0 0;
    margin-left: -10px;

}
#algo_buttons_wrapper{
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    clear: both;
    background-color: #8b59c9;
    height: 70px;
}
.algo_buttons_class{
    text-transform: uppercase;
    text-decoration: none;
    color:white !important;
    background-color: #2a2e39;
    box-shadow: 0 4px 3px #333;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 25px;
    border-radius: 3px;

}
#algo_sponsors{
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    clear: both;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #7b49b9;
}
@media(max-width: 1020px){

    #laptop_bottom{
        display:none;
    }

    #console{
        font-size: 80% !important;
    }
    #laptop_screen{
        border-radius: 15px;
    }
}

@media(max-width: 700px){
  #laptop_screen{
        height: 700px;
        width: 94vw;
        border-radius: 15px;
    }
    #ltxt{
        transform: scale(0.5) !important;
        margin-left: -200px;
    }

    #oscillograph{
        transform: scale(0.95);
    }
}

#circuistic{
    color: #2A2E39;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: bolder;
    border: solid rgba(69, 19, 172, 1) 1.4vw;
    border-bottom: solid rgba(69, 19, 172, 1) 15px;
}

#circuistic_text{

    opacity: 1;
    transition: all 0.5s ease-in-out;
    padding: 14px;
    background-color:#eeeeee;
    width: 60vw;
    float: right;
    margin: 10px;
    font-size: 1.2em;
    line-height: 105%;
    color: #222;
    margin-right: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 30px;
    box-shadow: 0 0 3px #555;
    display: inline-block;
    border-radius: 4px;
}
#circuistic_buttons_wrapper{
    width: 100%;
    margin-top: -5px;
    display: flex;
    text-align: center;
    transform:translate(-4.3%,100%);
}

#circuistic_buttons_wrapper_inner{
    margin: auto;
    width: 35%;
}
.circuistic_button{
    background-color: #2e6da4;
    box-shadow: 2px 2px 5px rgba(86,86,86,0);
    padding: 10px 20px;
    margin: 2px;
    color: white;
    cursor:pointer;
    position:relative;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

#circuistic_contacts{
    display: flex;
    padding:15px;
    text-align: center;
    width: 100%;
}
#circuistic_contacts_inner{
    display: flex;
    padding:15px;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    margin-bottom: -5px;
    white-space: pre;
    font-size: 1.1em;
    box-shadow: 0 0 3px #555;
    background-color:#eeeeee;
}
.circuistic_button:hover{
    background-color: #3f9ce4;
    box-shadow: 2px 2px 5px rgba(86,86,86,1);
    padding: 10px 20px;
    margin: 2px;
    color: white;
    font-weight: 500;
}

/*#oscillograph{*/
    /*background-color: red;*/
/*}*/
/*#multitext{*/
    /*background-color: red;*/
/*}*/


#circuistic>p.off{
    padding-left: 60%;
    opacity: 0;
}

#lcd{
    width: 30%;
}

#lcd>img{
    width: 30vw;
    float: left;
    display: none;
}
#lcd>img:nth-child(4){
    display: inline-block;
}

.ckt_image{
    margin-bottom: -4px;
    width: 100%;
    position:relative ;
}
#multitext{
    width: 15.4vw;
    height: 8vw;
    display: inline-block;
    /*outline: 2px solid #eb3d3d;*/
    z-index: 100;
    /*bottom: 50px;*/
    left: 2.65%;
    font-family: lcd, monospace;
    text-align: right;
    font-size: 7vw;
    margin-top: -19.9vw;
    position: relative;
}
#oscillograph{
    width: 21.2vw;
    height: 16.3vw;
    display: inline-block;
    /*outline: 2px solid #eb3d3d;*/
    z-index: 100;
    position: relative;
    /*bottom: 50px;*/
    right: 7.4vw;
    margin-top: -23vw;
}
#button_login{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #333;
    background-color: #2a2e39;
    border-radius: 50%;
    z-index: 1000;

}

#right_div{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #333;
    background-color: #2a2e39;
    overflow: hidden;
    display: block;
    z-index: 1000;
    transform: scale(0);
    border-radius: 50%;
    float: right;
    transition: 2s;
}
@keyframes expand {
    from{
        margin-right: inherit;
    }to{
         margin-right: 20px !important;
     }
}
.right_div_expanded{

    transform: scale(1) !important;
    border-radius: 5px !important;
    height: 500px !important;
    width: 300px !important;
}
