h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: auto;
}
/*.tbl-header{*/
    /*background-color: rgba(255,255,255,0.3);*/
/*}*/
thead{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:80vh;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Josefin Sans', sans-serif;
}
section{
    margin: 50px;
}


/* follow me template */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: "Josefin Sans",sans-serif;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#superWrapper{
    margin:50vh 40px 0;
    transform: translate(0,-50%);
}